<ion-view title="Book Service" id="page1">
    <ion-content padding="true" class="has-header">
        <div class="card">
            <div class="item item-text-wrap text-center">
                <h3>
                    Choose Vehicle Type
                </h3>
            </div>
        </div>
        <div class="card" data-ng-repeat='type in vehicleType'>
            <button class="button button-positive button-block" data-ng-click="showVehicleList(type)">{{type.label}}</button>
        </div>
    </ion-content>
</ion-view>