<ion-view title="Choose Vehicle">
    <ion-content padding="true" class="has-header">
        <div class="card">
            <ion-list>
                <ion-radio data-ng-model="$parent.choice.value" data-ng-repeat="item in vehicles" data-ng-value="item">{{item}}</ion-radio>
            </ion-list>
        </div>
        <div class="card" data-ng-show="choice.value == 'Other'">
            <label class="item item-input">
                <input type="text" placeholder="Vehicle Name" data-ng-model="$parent.otherVehicle" data-ng-init="$parent.otherVehicle = ''">
            </label>
        </div>
        <div class="text-center">
            <button type="button" class="button button-calm"  data-ng-disabled="choice.value == null || (choice.value == 'Other' && otherVehicle == '')" data-ng-click="searchService()">Proceed</button>
        </div>
    </ion-content>
</ion-view>